// app global css in SCSS form

@font-face {
  font-family: GothamPro;
  src: url(./fonts/GothamPro.woff);
}

$flat-active-color: #70D24E;
$flat-border-color: #D8D8D8;
$flat-border-radius: 5px;

$m-active-color: #70D24E;
$m-border-color: #D8D8D8;
$m-border-radius: 5px;

.ml {
  background-color: #F8F8F8;
  font-family: GothamPro, serif;
  //line-height: 28px;
  height: 100%;
}
